<section ng-controller="HomeController">
  <div class="jumbotron text-center jumbo-background jumbo-header jumbo-text" ng-style="{'background-image':'url(modules/core/client/img/dust.jpg)'}">
    <div class="panel fog">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>segue4</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <p class="lead text-center">wtf is this place</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
          <p class="lead poem">Try as I might to fix my gaze
            <br>Upon that dark forbidden maze
            <br>The end at which <i>presents</i> amaze
            <br>The good gifts granted in leaping fits
          </p>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center jumbo-segment jumbo-background" ng-style="{'background-image':'url(modules/core/client/img/dust.jpg)'}">
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-include="'/modules/core/client/views/user-panel.client.view.html'"></div>
    </div>
  </div>
  <div class="jumbotron text-center jumbo-footer jumbo-background" ng-style="{'background-image':'url(modules/core/client/img/dust.jpg)'}">
    <div class="panel fog">
      <!--<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <small>we're still trying to figure that out</small>
        </div>
      </div>-->
      <br>
      <div class="row">
        <div>
          <a ng-click="onLearnMoreClick()" class="btn btn-success btn-sm" href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Learn more</a>
          <br><small ng-show="learnMoreClicked">(in general)</small>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br><small>Thanks for all the fish</small>
</section>