<section ng-controller="AuthenticationController">
    <div class="row">
        <div ng-repeat="name in ['poet', 'piper', 'thinker', 'tinker', 'elder', 'captain']">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <!--<div class="panel-heading">
              <h2>the<br><strong>captain</strong></h2>
            </div>-->
                    <div class="panel-body">
                        <div class="">
                            <h2>the<br><strong>{{name}}</strong></h2>
                        </div>
                        <div ng-show="!authentication.user._id">
                            <hr>
                            <form name="{{name}}" ng-submit="signin(name)" class="signin" novalidate autocomplete="off">
                                <fieldset>
                                    <div class="form-group" show-errors>
                                        <input type="password" id="password_{{name}}" name="password_{{name}}" class="form-control" ng-model="$parent.credentials[name].password" placeholder=""
                                            required>
                                    </div>
                                    <div ng-show="{{name}} == poet">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-bishop"></span></button>
                                        </div>
                                    </div>
                                    <div ng-show="{{name}} == piper">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-film"></span></button>
                                        </div>
                                    </div>
                                    <div ng-show="{{name}} == thinker">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></button>
                                        </div>
                                    </div>
                                    <div ng-show="{{name}} == tinker">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
                                        </div>
                                    </div>
                                    <div ng-show="{{name}} == elder">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-facetime-video"></span></button>
                                        </div>
                                    </div>
                                    <div ng-show="{{name}} == captain">
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span></button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div ng-show="false">
                            <span class="glyphicon glyphicon-bishop"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind-html="error"></span>
    </alert>
</section>


<!--<div ng-show="authentication.user.username == name">
</div>-->