.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.jumbo-background {
	background: no-repeat center center fixed;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*background-size: cover;*/
}

.jumbo-header {
  margin-top: 7%;
  height: 400px;
}

.jumbo-full {
  height: 80%
}

.jumbo-chat {
  height: 90%
}

.jumbo-segment {
  height: 10px;
}

.jumbo-footer {
  height: 200px;
}

.jumbo-text {
	text-align: center;
	color: #000000;
	opacity: 1;
}

.fog {
	background-color: white;
	background-color:rgba(256, 256, 256, 0.7);
}

.poem {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}